[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"

[packages]
Django = ">=1.11.22"
djangorestframework = ">=3.9.1"

[requires]
python_version = "2.7"
